.horizontal {
	margin: 0;

	> li {
		display: inline;
		list-style: none;
	}
}

.admin-menu {
	.nav {
		@include clearfix();
		float:right;
		display: inline;
		
		> li {
			float:left;

			> a {
				color: lighten($gray-light, 10%);

				&:hover {
					color: $gray-lighter;
					background-color: darken($gray-darker, 3%);
				}
			}
		}
	}
}