.dark { background-color: $gray-dark}

.yellow { background-color: $yellow; }
.purple { background-color: $purple; }
.blue { background-color: $blue; }
.gray { background-color: $gray; }

.last-in-the-box { margin-bottom: 0 }