$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$white: 	#FFFFFF;
$gray: 		#888888;
$yellow: 	#FFD428;
$purple: 	#5C2281;
$blue: 		#009EE0;

// Layout
$basePadding: 10px;

// Forms
$input-margin: 0 0 $basePadding;

// Wells
$well-bg-dark:                     $gray-dark;