body {
  margin: 0;
  min-width: 320px; }

ul {
  margin: 0;
  -webkit-padding-start: 0; }

input {
  margin: 0 0 10px; }

.external-links {
  background-color: #555555;
  padding: 10px; }
  .external-links:after {
    content: "";
    display: table;
    clear: both; }
  .external-links a {
    color: #aeaeae; }
    .external-links a:hover {
      text-decoration: none;
      color: #bbbbbb; }

.main-nav {
  background: #3c3c3c;
  padding: 10px; }

.page-title {
  margin: 0; }
  .page-title:after {
    content: "";
    display: table;
    clear: both; }
  .page-title h1 {
    color: white;
    margin: 0;
    padding: 10px; }

.horizontal {
  margin: 0; }
  .horizontal > li {
    display: inline;
    list-style: none; }

.admin-menu .nav {
  float: right;
  display: inline; }
  .admin-menu .nav:after {
    content: "";
    display: table;
    clear: both; }
  .admin-menu .nav > li {
    float: left; }
    .admin-menu .nav > li > a {
      color: #b3b3b3; }
      .admin-menu .nav > li > a:hover {
        color: #eeeeee;
        background-color: #1b1b1b; }

.button {
  background: red; }

.actions {
  display: inline; }
  .actions form {
    display: inline; }

.login-form {
  margin-top: 100px; }

.yellow {
  background-color: #ffd428; }

.purple {
  background-color: #5c2281; }

.blue {
  background-color: #009ee0; }

.gray {
  background-color: #888888; }
